# creating a series
# Using list
# using tuple
# using dict
# using scalar
# using numpy

In [2]:
import numpy as np
import pandas as pd

In [12]:
List=[1,2,3,4,5,"sathwika"]
series=pd.Series(List)
print(series)

0           1
1           2
2           3
3           4
4           5
5    sathwika
dtype: object

In [14]:
tuple=(1,2,3,4,5)
series2=pd.Series(tuple)
print(series2)

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [18]:
dict={1:30,5:23,3:45,4:56,9:43}
series=pd.Series(dict)
print(series)

1    30
5    23
3    45
4    56
9    43
dtype: int64

In [19]:
series=pd.Series(11,index=(1,2,3,4,5))
print(series)

1    11
2    11
3    11
4    11
5    11
dtype: int64

In [21]:
numpy=np.array([1,2,3,4,5])
series=pd.Series(numpy)
print(series)

0    1
1    2
2    3
3    4
4    5
dtype: int32

# Accessing the elements in series

In [34]:
list=[1,2,3,4,"sathwika"]
series=pd.Series(list,index=(0,1,2,3,4))

series[0]

1

In [35]:
series[0:4]

0    1
1    2
2    3
3    4
dtype: object

# operations in pandas

In [40]:
s1=pd.Series([1,2,3,4,5])
s2=pd.Series([4,5,6,7,8])
s1+s2

0     5
1     7
2     9
3    11
4    13
dtype: int64

In [41]:
s1/s2

0    0.250000
1    0.400000
2    0.500000
3    0.571429
4    0.625000
dtype: float64

In [42]:
s1*s2

0     4
1    10
2    18
3    28
4    40
dtype: int64

In [43]:
s1-s2

0   -3
1   -3
2   -3
3   -3
4   -3
dtype: int64

# creating a dataframe
# using lists
# using Nested Lists
# Dictionary
# Numpy array
# series

In [47]:
list=[1,2,3,4,5]
df=pd.DataFrame(list)
print(df)

   0
0  1
1  2
2  3
3  4
4  5

In [49]:
nestedlist=[['Priyang',89],['Sathwika',6],['Piyush',13]]
df=pd.DataFrame(nestedlist)
print(df)

          0   1
0   Priyang  89
1  Sathwika   6
2    Piyush  13

In [51]:
dict={'name':['sathwika','Akanksha','rithwik'],'age':[23,34,45]}
df=pd.DataFrame(dict)
print(df)

       name  age
0  sathwika   23
1  Akanksha   34
2   rithwik   45

In [53]:
numpy=[[1,2,3,4,5],[4,5,6,7,9]]
df=pd.DataFrame(numpy,columns=['a','b','c','d','e'],index=[3,6])
print(df)

   a  b  c  d  e
3  1  2  3  4  5
6  4  5  6  7  9

In [58]:
d={'first':pd.Series(['a','b','c','d','e']),
   'second':pd.Series([1,2,3,4,5])}
df=pd.DataFrame(d)
print(df)

  first  second
0     a       1
1     b       2
2     c       3
3     d       4
4     e       5