In [7]:
import pandas as pd
data = {
 'EmployeeID': [1, 2, 3, 4, 5],

 'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eva'],

 'Department': ['HR', 'IT', 'IT', 'HR', 'Finance'],

 'Salary': [60000, 70000, 80000, 65000, 75000],

 'JoiningDate': ['2020-01-15', '2019-06-20', '2018-07-23', '2020-02-10', '2021-03-15'],

 'PerformanceScore': [3, 4, 2, 5, 3]
}
df=pd.DataFrame(data)
df

   EmployeeID     Name Department  Salary JoiningDate  PerformanceScore
0           1    Alice         HR   60000  2020-01-15                 3
1           2      Bob         IT   70000  2019-06-20                 4
2           3  Charlie         IT   80000  2018-07-23                 2
3           4    David         HR   65000  2020-02-10                 5
4           5      Eva    Finance   75000  2021-03-15                 3

# How can you calculate the average salary for each department?

In [9]:
df1=df.groupby('Department')['Salary'].mean()
df1

Department
Finance    75000.0
HR         62500.0
IT         75000.0
Name: Salary, dtype: float64

# Write a function to find the employee with the highest performance score in each department.

In [16]:


x=df.groupby('Department')['PerformanceScore'].idxmax()
   
highest_performance=df.loc[x]
highest_performance

   EmployeeID   Name Department  Salary JoiningDate  PerformanceScore
4           5    Eva    Finance   75000  2021-03-15                 3
3           4  David         HR   65000  2020-02-10                 5
1           2    Bob         IT   70000  2019-06-20                 4

In [18]:
from datetime import datetime

# How would you add a new column that represents the number of years each employee has been with the company based on the 'JoiningDate'?

In [22]:
import pandas as pd
from datetime import datetime

# Assuming df is your DataFrame and it has a column 'JoiningDate'
df['JoiningDate'] = pd.to_datetime(df['JoiningDate'])
current_date = datetime.now()
df['Yearswithcompany'] = (current_date - df['JoiningDate']).dt.days // 365
print(df)

KeyError: 'JoiningDate'

# Create a pivot table to display the total salary and average performance score for each department.

In [25]:
df = pd.DataFrame(data)

pivot_table = pd.pivot_table(df,

 values=['Salary', 'PerformanceScore'],
 index='Department',


 aggfunc={'Salary': 'sum', 'PerformanceScore': 'mean'})

print(pivot_table)

            PerformanceScore  Salary
Department
Finance                  3.0   75000
HR                       4.0  125000
IT                       3.0  150000

# How would you create a new DataFrame containing only the employees from the IT department who have a performance score greater than 3?

In [26]:
df

   EmployeeID     Name Department  Salary JoiningDate  PerformanceScore
0           1    Alice         HR   60000  2020-01-15                 3
1           2      Bob         IT   70000  2019-06-20                 4
2           3  Charlie         IT   80000  2018-07-23                 2
3           4    David         HR   65000  2020-02-10                 5
4           5      Eva    Finance   75000  2021-03-15                 3

In [30]:
df = pd.DataFrame(data)

IT_high_performance = df[(df['Department'] == 'IT') & (df['PerformanceScore'] > 3)]

print(IT_high_performance)

   EmployeeID Name Department  Salary JoiningDate  PerformanceScore
1           2  Bob         IT   70000  2019-06-20                 4

#  Describe how to perform an inner merge of this DataFrame with another DataFrame containing employee bonus information based on 'EmployeeID'.

In [31]:
df = pd.DataFrame(data)

bonus_data = {
 'EmployeeID': [1, 2, 3, 6],
 'Bonus': [5000, 7000, 8000, 6000]
}

bonus_df = pd.DataFrame(bonus_data)

merged_df = pd.merge(df, bonus_df, on='EmployeeID', how='inner')

print(merged_df)

   EmployeeID     Name Department  Salary JoiningDate  PerformanceScore  Bonus
0           1    Alice         HR   60000  2020-01-15                 3   5000
1           2      Bob         IT   70000  2019-06-20                 4   7000
2           3  Charlie         IT   80000  2018-07-23                 2   8000

# How can you calculate the cumulative sum of the 'PerformanceScore' column grouped by 'Department'?

In [32]:
df = pd.DataFrame(data)

df['CumulativePerformanceScore'] = df.groupby('Department')['PerformanceScore'].cumsum()

print(df)

   EmployeeID     Name Department  Salary JoiningDate  PerformanceScore  \
0           1    Alice         HR   60000  2020-01-15                 3
1           2      Bob         IT   70000  2019-06-20                 4
2           3  Charlie         IT   80000  2018-07-23                 2
3           4    David         HR   65000  2020-02-10                 5
4           5      Eva    Finance   75000  2021-03-15                 3

   CumulativePerformanceScore
0                           3
1                           4
2                           6
3                           8
4                           3

# . Write a function to rank employees within each department based on their 'Salary'.

In [33]:
df = pd.DataFrame(data)

def rank_employees_by_salary(df):
 df['SalaryRank'] = df.groupby('Department')['Salary'].rank(ascending=False)
 return df

ranked_df = rank_employees_by_salary(df)

print(ranked_df)

   EmployeeID     Name Department  Salary JoiningDate  PerformanceScore  \
0           1    Alice         HR   60000  2020-01-15                 3
1           2      Bob         IT   70000  2019-06-20                 4
2           3  Charlie         IT   80000  2018-07-23                 2
3           4    David         HR   65000  2020-02-10                 5
4           5      Eva    Finance   75000  2021-03-15                 3

   SalaryRank
0         2.0
1         2.0
2         1.0
3         1.0
4         1.0

# How can you filter the DataFrame to show only employees who have been with the company for more than 2 years?

In [35]:
df = pd.DataFrame(data)

df['Joining Date'] = pd.to_datetime(df['JoiningDate'])

current_date = datetime.now()

df['Years with Company'] = (current_date - df['Joining Date']).dt.days // 365

filtered_df = df[df['Years with Company'] > 2]

print(filtered_df)

TypeError: unsupported operand type(s) for -: 'DatetimeArray' and 'builtin_function_or_method'